<!-- ユーザーの投稿一覧 -->
<div class="card-list-container py-5">
  <% post_images.each do |post_image| %> <!-- @post_images変数内から1つずつ取り出して、post_image変数へ格納します。 -->
  <!-- 部分テンプレートが呼び出されたときに、Viewから渡される変数が使えるように変更 -->
  <div  class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image %> <!-- image_tagを使いpost_imageにActiveStorageで設定したimageを表示しています。 -->
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag post_image.user.get_profile_image(100,100), class:"mt-3 rounded-circle;" %> <!-- 投稿画像に紐づいたユーザーのプロフィール画像を表示-->
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong> <!-- post_image変数のshop_nameカラムを表示します。 -->
            <% end %>
          </p>
          <p class="card-text">説明: <%= post_image.caption%></p> <!-- post_image変数のcaptionカラムを表示します。 -->
          <span><i class="fas fa-user"></i> By <%= post_image.user.name %> | </span> <!-- post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示します。 -->
          <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span> <!-- 投稿画像の詳細画面で、コメントを投稿できるように -->
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate post_images %>
</div>