<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- % if user_signed_in? % は、devise 側で用意しているヘルパーメソッドです。 -->
      <% if user_signed_in? %> <!-- ログイン済みならばtrue -->
        <li>
          <%= linl_to '投稿フォーム', new_post_image_path %>
        </li>
        <li>
          <!-- link_to ヘルパーの method オプションを設定して、ログアウトリンクを作成します。 -->
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>　<!-- ログインしていなければfalse-->
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %> 
  </body>
</html>
